* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 14px;
}

form {
  display: flex;
}

input, button {
  line-height: 1;
  outline: none;
  -webkit-appearance: none;
}

button {
  margin: 0 .5em;
  padding: .3em .5em;
  color: #fff;
  background-color: #39f;
  border-color: transparent;
  border-radius: 3px;
}

form input {
  flex: 1;
  padding-left: 4px;
  height: 36px;
  border: 1px solid #39f;
}

form input:focus {
  border: 1px solid #127dda;
}

form button:active {
  background-color: #127dda;
}
